/* Slide Home */
.slides_home {
  margin-bottom: 60px;
}

.slides_home .carousel-item {
  position: relative;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  background-position: 50% 50%!important;
  height: 520px;
  padding-bottom: 20px;
}

.slides_home #slide_1 {
  background: url('../img/slide-1-mobile.jpg');
}

.slides_home #slide_2 {
  background: url('../img/slide-2-mobile.jpg');
}

.slides_home #slide_3 {
  background: url('../img/slide-3-mobile.jpg');
}

.slides_home #slide_4 {
  background: url('../img/slide-4-mobile.jpg');
}

.slides_home #slide_5 {
  background: url('../img/slide-5-mobile.jpg');
}

.slides_home .carousel-control-prev,
.slides_home .carousel-control-next {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  top: calc( 50% - 16px );
}

.slides_home .carousel-item .content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.slides_home h1, 
.slides_home h2 {
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #babbbf;
  margin-bottom: 0;
  border-left: solid 1px #babbbf;
  padding-left: 15px;
}

.slides_home h1 span, 
.slides_home h2 span {
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.3em;
  color: #908f95;
  text-transform: uppercase;
}
/* Slide Home end */

/* Presentacion */
.presentation {
  margin-bottom: 60px;
}

.presentation .data,
.presentation .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation .data {
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 30px;
}

.presentation .data .logo {
  margin-bottom: 20px;
  max-width: 150px;
}

.presentation .data p {
  font-size: 0.9rem;
}

.presentation .data .barra {
  width: 100%;
  margin-bottom: 20px;
}


.presentation .data .barra.first {
  margin-top: 20px;
}

.presentation .data .barra .up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.presentation .data .barra .up h5 {
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #808080;
}

.presentation .data .barra .complete {
  width: 100%;
  height: 10px;
  background: rgba(128,128,128,1);
  background: -moz-linear-gradient(left, rgba(128,128,128,1) 0%, rgba(219,220,222,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(128,128,128,1)), color-stop(100%, rgba(219,220,222,1)));
  background: -webkit-linear-gradient(left, rgba(128,128,128,1) 0%, rgba(219,220,222,1) 100%);
  background: -o-linear-gradient(left, rgba(128,128,128,1) 0%, rgba(219,220,222,1) 100%);
  background: -ms-linear-gradient(left, rgba(128,128,128,1) 0%, rgba(219,220,222,1) 100%);
  background: linear-gradient(to right, rgba(128,128,128,1) 0%, rgba(219,220,222,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#dbdcde', GradientType=1 );
  border-radius: 10px;
}
/* Presentacion end */

/* Features Desktop */
.features_desktop {
  display: none;
}
/* Features Desktop end */

/* Features Mobile */
.features_mobile {
  /*margin-bottom: 60px;*/
}

.features_mobile .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 176px;
  padding: 5px;
}

.features_mobile .content h3 {
  margin-top: 0!important;
  width: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #babbbf;
  border-bottom: solid 1px #babbbf;
  font-size: 1.25rem;
  margin-top: 15px;
  padding-bottom: 5px;
  letter-spacing: 0.4rem;
}

.features_mobile .content .description {
  text-align: left;
  color: #babbbf;
  font-size: 0.85rem;
  width: 80%;
  margin-bottom: 0;
}

.features_mobile .content .numbers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.features_mobile .content .numbers p {
  color: #babbbf;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-right: solid 1px #babbbf;
  margin-bottom: 0;
}

.features_mobile .content .numbers p:last-child {
  border-right: none;
}

.features_mobile .content .numbers span {
  color: #babbbf;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
}
/* Features Mobile end */

/* Gallery */
.gallery {
  background: black;
  padding-top: 40px;
  padding-bottom: 40px;
}

.gallery .data,
.gallery .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery .data {
  margin-bottom: 12px;
}

.gallery .data p {
  text-align: center;
  margin-bottom: 0;
  padding-left: 12px;
  padding-right: 12px;
  color: #95949a;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Gallery end */

/* About */
.about {
  margin-bottom: 60px;
  background: #e3e3e3;
}

.about .data,
.about .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about .data {
  padding-top: 40px;
  padding-bottom: 40px;
}

.about .data h2 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
}

.about .data p {
  font-size: 0.9rem;
}

.about .data p:last-child {
  margin-bottom: 0;
}

.about .data p a {
  color: #808080;
  text-transform: uppercase;
}

.about .data p a:hover {
  color: #444242;
}

.about .row:last-child .data {
  order: 0;
}

.about .row:last-child .img {
  order: 1;
  padding-bottom: 40px;
}
/* About end */

/* Team */
.team {
  margin-bottom: 30px;
}

.team h2 {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-align: center;
  color: #444242;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.team h2:before,
.team h2:after {
  content: '';
  height: 1px;
  width: 10%;
  background: #babbbf;
  margin-right: 15px;
}

.team h2:after {
  margin-left: 15px;
}

.team .content_team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.team .content_team img {
  border-radius: 50%;
  margin-bottom: 25px;
}

.team .content_team h3 {
  text-transform: uppercase;
  font-weight: 400;
}

.team .content_team p {
  font-size: 0.9rem;
  color: #5b5b5f;
}
/* Team end */

/* Launch */
.lauch {
  position: relative;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  background-position: 50% 50%!important;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url('../img/background.jpg');
}

.lauch .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lauch .content img {
  max-width: 250px;
  margin-bottom: 15px;
}

.lauch .content h2 {
  font-size: 1.15rem;
  color: #a4a5ab;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 400;
  letter-spacing: 0.4rem;
}

.lauch .content button {
  border-radius: 0;
  background: #5f6f66!important;
  border: none!important;
  color: white!important;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.85rem;
}

.lauch .content button:hover {
  background: white!important;
  color: #5f6f66!important;
}
/* Launch end */


/* MEDIA QUERIES */
@media (min-width: 576px) {

  /* Slide Home */
  .slides_home .carousel-item .content {
    justify-content: flex-start;
  }

  .slides_home h1, 
  .slides_home h2 {
    margin-left: 10%;
    font-size: 1.5rem;
  }

  .slides_home h1 span, 
  .slides_home h2 span {
    font-size: 1.25rem;
    letter-spacing: 0.27em;
  }
  /* Slide Home end */

  /* Team */
  .team h2:before,
  .team h2:after {
    width: 30%;
  }
  /* Team end */

  /* Launch */
  .lauch .content img {
    max-width: 300px;
  }

  .lauch .content h2 {
    margin-bottom: 60px;
    letter-spacing: 0.6rem;
  }
  /* Launch end */

}

@media (min-width: 768px) {

  /* Slide Home */
  .slides_home .carousel-item {
    padding-bottom: 30px;
    height: 435px;
  }

  .slides_home #slide_1 {
    background: url('../img/slide-1.jpg');
  }

  .slides_home #slide_2 {
    background: url('../img/slide-2.jpg');
  }

  .slides_home #slide_3 {
    background: url('../img/slide-3.jpg');
  }

  .slides_home #slide_4 {
    background: url('../img/slide-4.jpg');
  }

  .slides_home #slide_5 {
    background: url('../img/slide-5.jpg');
  }

  .slides_home h1, 
  .slides_home h2 {
    font-size: 2rem;
    line-height: 1.1;
  }

  .slides_home h1 span, 
  .slides_home h2 span {
    font-size: 1.5rem;
    letter-spacing: 0.37em;
  }
  /* Slide Home end */

  /* Gallery */
  .gallery .img {
    padding-left: 0;
  }

  .gallery .data {
    padding-right: 0;
    margin-bottom: 0;
  }

  .gallery .img img {
    object-fit: cover;
    height: 100%;
  }
  /* Gallery end */

  /* Team */
  .team h2 {
    margin-bottom: 40px;
  }

  .team .content_team {
    justify-content: flex-start;
  }

  .team .content_team h3 {
    font-size: 1.25rem;
  }

  .team .content_team p br {
    display: none;
  }
  /* Team end */

  /* Launch */
  .lauch .content img {
    max-width: 400px;
  }

  .lauch .content h2 {
    letter-spacing: 0.9rem;
  }

  .lauch .content button {
    font-size: 1rem;
  }
  /* Launch end */

}

@media (min-width: 992px) {

  /* Slide Home */
  .slides_home .carousel-item {
    height: 560px;
  }

  .slides_home h1, 
  .slides_home h2 {
    font-size: 2.25rem;
  }

  .slides_home h1 span, 
  .slides_home h2 span {
    letter-spacing: 0.5em;
  }
  /* Slide Home end */

  /* Presentacion */
  .presentation .data {
    margin-bottom: 0;
  }

  .presentation .data p {
    font-size: 1rem;
  }

  .presentation .data .barra:last-child {
    margin-bottom: 0;
  }

  .presentation .img {
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: 0;
  }

  .presentation .img img {
    object-fit: cover;
    height: 100%;
  }
  /* Presentacion end */

  /* Features Mobile */
  .features_mobile {
    display: none;
  }
  /* Features Mobile end */

  /* Features Desktop */
  .features_desktop {
    display: inline-block;
  }

  .features_desktop .img {
    position: relative;
    background: url('../img/features.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
  }

  .features_desktop h2 {
    margin-top: 10px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    letter-spacing: 0.4rem;
    font-weight: 400;
  }

  .features_desktop .subtitulo {
    margin-top: 5px;
    margin-bottom: 0;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 0.65rem;
  }

  .features_desktop .icon {
    max-width: 16px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .features_desktop .btn_features {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/btn-more.png');
    background-position: 50% 50%;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .features_desktop .img_featured {
    max-width: 150px;
  }

  .features_desktop .content_card {
    padding: 5px;
  }

  .features_desktop .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5f6f66;
    padding: 5px;
    max-width: 150px;
  }

  .features_desktop .content h3 {
    color: white;
    font-size: 0.85rem;
    text-transform: uppercase;
    border-bottom: solid 1px #2b332e;
    text-align: center;
    padding-bottom: 2px;
    margin-bottom: 5px;
    font-weight: 700;
    color: #2b332e;
  }

  .features_desktop .content p {
    margin-bottom: 0;
    color: white;
    font-size: 0.8rem;
  }

  .features_desktop .btn_engine {
    top: calc(27% - 12px);
    left: calc(45% - 12px);
  }

  .features_desktop .btn_transmision {
    top: calc(67% - 12px);
    left: calc(28% - 12px);
  }

  .features_desktop .btn_suspension {
    top: calc(42% - 12px);
    left: calc(15% - 12px);
  }

  .features_desktop .btn_brakes {
    top: calc(63% - 12px);
    left: calc(13% - 12px);
  }

  .features_desktop .btn_exhaust {
    top: calc(65% - 12px);
    left: calc(59% - 12px);
  }

  .features_desktop .btn_wheels {
    top: calc(65% - 12px);
    left: calc(75% - 12px);
  }

  .features_desktop .btn_body {
    top: calc(36% - 12px);
    left: calc(76% - 12px);
  }
  /* Features Desktop end */

  /* About */
  .about .data,
  .about .img {
    padding-top: 30px;
    padding-bottom: 0;
    align-items: flex-start;
  }

  .about .data {
    padding-right: 30px;
  }

  .about .data h2 {
    margin-bottom: 30px;
  }

  .about .data p {
    font-size: 1rem;
  }

  .about .data p:last-child {
    margin-bottom: 30px;
  }

  .about .img {
    padding: 0;
  }

  .about .img img {
    object-fit: cover;
    height: 100%;
  }

  .about .row:last-child .data {
    order: 1;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: 30px;
    padding-bottom: 0;
  }

  .about .row:last-child .img {
    order: 0;
    padding-bottom: 0;
  }
  /* About end */

  /* Launch */
  .lauch {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .lauch .content img {
    max-width: 550px;
    margin-bottom: 30px;
  }

  .lauch .content h2 {
    font-size: 1.25rem;
    letter-spacing: 1.6rem;
    margin-bottom: 100px;
  }
  /* Launch end */

}

@media (min-width: 1200px) {

  /* Slide Home */
  .slides_home .carousel-item {
    height: 700px;
  }

  .slides_home h1, 
  .slides_home h2 {
    font-size: 2.5rem;
  }

  .slides_home h1 span, 
  .slides_home h2 span {
    font-size: 1.6rem;
    letter-spacing: 0.55em;
  }
  /* Slide Home end */

  /* Features Desktop */
  .features_desktop .img {
    height: 600px;
  }
  /* Features Desktop end */

  /* About */
  .about .data {
    padding-right: 150px;
  }

  .about .data h2 {
    letter-spacing: 0.4rem;
  }

  .about .data p {
    margin-bottom: 30px;
    font-size: 1.15rem;
  }

  .about .row:last-child .data {
    padding-left: 150px;
    padding-right: 60px;
  }

  .about .row:last-child .data {
    padding-left: 150px;
    padding-right: 60px;
  }

  .about .row:last-child .data p {
    margin-bottom: 60px;
  }

  .about .row:last-child .data p:last-child {
    margin-bottom: 0;
  }
  /* About end */

  /* Team */
  .team h2 {
    font-size: 2.5rem;
  }

  .team h2:before,
  .team h2:after {
    width: 30%;
  }

  .team .content_team h3 {
    font-size: 1.5rem;
  }

  .team p {
    font-size: 1rem;
  }
  /* Team end */

  /* Launch */
  .lauch .content img {
    max-width: 700px;
  }

  .lauch .content h2 {
    font-size: 1.5rem;
    letter-spacing: 2.3rem;
    margin-bottom: 150px;
  }

  .lauch .content button {
    font-size: 1.25rem;
    padding: 10px 40px;
  }
  /* Launch end */

}

@media (min-width: 1400px) {

  /* Slide Home */
  .slides_home {
    margin-bottom: 100px;
  }

  .slides_home .carousel-item {
    height: 810px;
  }

  .slides_home h1, 
  .slides_home h2 {
    font-size: 3.5rem;
    line-height: 1;
  }

  .slides_home h1 span, 
  .slides_home h2 span {
    font-size: 2rem;
    letter-spacing: 0.69em;
  }
  /* Slide Home end */

  /* Presentacion */
  .presentation {
    margin-bottom: 100px;
  }

  .presentation .data {
    margin-bottom:0;
  }

  .presentation .data .logo {
    max-width: 210px;
  }

  .presentation .data .barra {
    width: 50%;
  }
  /* Presentacion end */

  /* Features Desktop */
  .features_desktop .img {
    height: 705px;
  }
  /* Features Desktop end */

  /* Features Mobile */
  .features_mobile {
    /*margin-bottom: 100px;*/
  }
  /* Features Mobile end */

  /* Gallery */
  .gallery {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .gallery .data p {
    font-size: 1.25rem;
  }
  /* Gallery end */

  /* About */
  .about {
    margin-bottom: 100px;
  }
  /* About end */

  /* Team */
  .team {
    margin-bottom: 100px;
  }

  .team h2:before,
  .team h2:after {
    width: 35%;
  }
  /* Team end */

  /* Launch */
  .lauch .content img {
    max-width: 860px;
    margin-bottom: 30px;
  }

  .lauch .content h2 {
    font-size: 2.5rem;
    letter-spacing: 2.3rem;
  }

  .lauch .content button {
    font-size: 1.5rem;
  }
  /* Launch end */

}

@media (min-width: 1600px) {

  /* Slide Home */
  .slides_home .carousel-item {
    height: 100vh;
    padding-bottom: 60px;
  }
  /* Slide Home end */

  /* Features Desktop */
  .features_desktop .img {
    height: 950px;
  }

  .features_desktop .btn_features {
    width: 40px;
    height: 40px;
  }

  .features_desktop .btn_engine {
    top: calc(27% - 20px);
    left: calc(45% - 20px);
  }

  .features_desktop .btn_transmision {
    top: calc(67% - 20px);
    left: calc(28% - 20px);
  }

  .features_desktop .btn_suspension {
    top: calc(42% - 20px);
    left: calc(15% - 20px);
  }

  .features_desktop .btn_brakes {
    top: calc(63% - 20px);
    left: calc(13% - 20px);
  }

  .features_desktop .btn_exhaust {
    top: calc(65% - 20px);
    left: calc(59% - 20px);
  }

  .features_desktop .btn_wheels {
    top: calc(65% - 20px);
    left: calc(75% - 20px);
  }

  .features_desktop .btn_body {
    top: calc(36% - 20px);
    left: calc(76% - 20px);
  }
  /* Features Desktop end */

}
