/* Slide Home */
.slides_home {
  margin-bottom: 60px;
}

.slides_home .carousel-item {
  position: relative;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  background-position: 50% 50%!important;
  height: 520px;
  padding-bottom: 20px;
}

.slides_home #slide_1 {
  background: url('../img/slide-1-mobile.jpg');
}

.slides_home #slide_2 {
  background: url('../img/slide-2-mobile.jpg');
}

.slides_home #slide_3 {
  background: url('../img/slide-3-mobile.jpg');
}

.slides_home #slide_4 {
  background: url('../img/slide-4-mobile.jpg');
}

.slides_home #slide_5 {
  background: url('../img/slide-5-mobile.jpg');
}

.slides_home .carousel-control-prev,
.slides_home .carousel-control-next {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  top: calc( 50% - 16px );
}

.slides_home .carousel-item .content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.slides_home h1, 
.slides_home h2 {
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #babbbf;
  margin-bottom: 0;
  border-left: solid 1px #babbbf;
  padding-left: 15px;
}

.slides_home h1 span, 
.slides_home h2 span {
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.3em;
  color: #908f95;
  text-transform: uppercase;
}
/* Slide Home end */

/* Presentacion */
.presentation {
  margin-bottom: 60px;
}

.presentation .data,
.presentation .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation .data {
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 30px;
}

.presentation .data .logo {
  margin-bottom: 20px;
  max-width: 150px;
}

.presentation .data p {
  font-size: 0.9rem;
}

.presentation .data .barra {
  width: 100%;
  margin-bottom: 20px;
}


.presentation .data .barra.first {
  margin-top: 20px;
}

.presentation .data .barra .up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.presentation .data .barra .up h5 {
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #808080;
}

.presentation .data .barra .complete {
  width: 100%;
  height: 10px;
  background: rgba(128,128,128,1);
  background: -moz-linear-gradient(left, rgba(128,128,128,1) 0%, rgba(219,220,222,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(128,128,128,1)), color-stop(100%, rgba(219,220,222,1)));
  background: -webkit-linear-gradient(left, rgba(128,128,128,1) 0%, rgba(219,220,222,1) 100%);
  background: -o-linear-gradient(left, rgba(128,128,128,1) 0%, rgba(219,220,222,1) 100%);
  background: -ms-linear-gradient(left, rgba(128,128,128,1) 0%, rgba(219,220,222,1) 100%);
  background: linear-gradient(to right, rgba(128,128,128,1) 0%, rgba(219,220,222,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#dbdcde', GradientType=1 );
  border-radius: 10px;
}
/* Presentacion end */

/* Features Desktop */
.features_desktop {
  display: none;
}
/* Features Desktop end */

/* Gallery */
.gallery {
  margin-bottom: 60px;
  background: black;
  padding-top: 40px;
  padding-bottom: 40px;
}

.gallery .data,
.gallery .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery .data {
  margin-bottom: 12px;
}

.gallery .data p {
  text-align: center;
  margin-bottom: 0;
  padding-left: 12px;
  padding-right: 12px;
  color: #95949a;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Gallery end */




/* MEDIA QUERIES */
@media (min-width: 576px) {

  /* Slide Home */
  .slides_home .carousel-item .content {
    justify-content: flex-start;
  }

  .slides_home h1, 
  .slides_home h2 {
    margin-left: 10%;
    font-size: 1.5rem;
  }

  .slides_home h1 span, 
  .slides_home h2 span {
    font-size: 1.25rem;
    letter-spacing: 0.27em;
  }
  /* Slide Home end */

}

@media (min-width: 768px) {

  /* Slide Home */
  .slides_home .carousel-item {
    padding-bottom: 30px;
    height: 435px;
  }

  .slides_home #slide_1 {
    background: url('../img/slide-1.jpg');
  }

  .slides_home #slide_2 {
    background: url('../img/slide-2.jpg');
  }

  .slides_home #slide_3 {
    background: url('../img/slide-3.jpg');
  }

  .slides_home #slide_4 {
    background: url('../img/slide-4.jpg');
  }

  .slides_home #slide_5 {
    background: url('../img/slide-5.jpg');
  }

  .slides_home h1, 
  .slides_home h2 {
    font-size: 2rem;
    line-height: 1.1;
  }

  .slides_home h1 span, 
  .slides_home h2 span {
    font-size: 1.5rem;
    letter-spacing: 0.37em;
  }
  /* Slide Home end */

  /* Gallery */
  .gallery .img {
    padding-left: 0;
  }

  .gallery .data {
    padding-right: 0;
    margin-bottom: 0;
  }

  .gallery .img img {
    object-fit: cover;
    height: 100%;
  }
  /* Gallery end */

}

@media (min-width: 992px) {

  /* Slide Home */
  .slides_home .carousel-item {
    height: 560px;
  }

  .slides_home h1, 
  .slides_home h2 {
    font-size: 2.25rem;
  }

  .slides_home h1 span, 
  .slides_home h2 span {
    letter-spacing: 0.5em;
  }
  /* Slide Home end */

  /* Presentacion */
  .presentation .data {
    margin-bottom: 0;
  }

  .presentation .data p {
    font-size: 1rem;
  }

  .presentation .data .barra:last-child {
    margin-bottom: 0;
  }

  .presentation .img {
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: 0;
  }

  .presentation .img img {
    object-fit: cover;
    height: 100%;
  }
  /* Presentacion end */

}

@media (min-width: 1200px) {

  /* Slide Home */
  .slides_home .carousel-item {
    height: 700px;
  }

  .slides_home h1, 
  .slides_home h2 {
    font-size: 2.5rem;
  }

  .slides_home h1 span, 
  .slides_home h2 span {
    font-size: 1.6rem;
    letter-spacing: 0.55em;
  }
  /* Slide Home end */

}

@media (min-width: 1400px) {

  /* Slide Home */
  .slides_home {
    margin-bottom: 100px;
  }
  .slides_home .carousel-item {
    height: 810px;
  }

  .slides_home h1, 
  .slides_home h2 {
    font-size: 3.5rem;
    line-height: 1;
  }

  .slides_home h1 span, 
  .slides_home h2 span {
    font-size: 2rem;
    letter-spacing: 0.69em;
  }
  /* Slide Home end */

  /* Presentacion */
  .presentation {
    margin-bottom: 100px;
  }

  .presentation .data {
    margin-bottom:0;
  }

  .presentation .data .logo {
    max-width: 210px;
  }

  .presentation .data .barra {
    width: 50%;
  }
  /* Presentacion end */

  /* Features Mobile */
  .features_mobile {
    margin-bottom: 100px;
  }
  /* Features Mobile end */

  /* Gallery */
  .gallery .data p {
    font-size: 1.25rem;
  }
  /* Gallery end */

}

@media (min-width: 1600px) {

  /* Slide Home */
  .slides_home .carousel-item {
    height: 100vh;
    padding-bottom: 60px;
  }
  /* Slide Home end */

}
